# deps
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
*.local
.vercel

# env
.env
.env.*
!.env.example

# editor / os
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript build artifacts
*.tsbuildinfo
drizzle.config.js
drizzle.config.d.ts
vite.config.js
vite.config.d.ts

# capacitor native
/android
/ios
.env*

# build artifacts
*.apk
*.aab
*.ipa
